<h1 align="center">Ввод</h1>
<h3>Введите число от 1 до 1.000.000. Программа покажет вам, какие числа в этом диапазоне являются палиндромами как в десятичной, так и в двоичной системе.</h3>

<%= form_with url: 'calc/output', method: :get do |form| %>
	<p>
		<%= form.label('Введите число:') %>
		<%= form.number_field(:num) %>
	</p>
	<p><%= form.submit('Подтвердить') %></p>
<% end %>